.row
  .col-md-6.col-md-offset-3
    .panel.panel-default#sign-panel
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs.form-group
          = f.input :user_name,
          label: false, placeholder: "Username", required: true, input_html: {class: 'form-control'}
          %br
          = f.input :email, label: false, placeholder: "E-mail address",
          required: true, autofocus: true,  input_html: {class: 'form-control'}
          %br
          = f.input :password, required: true,
          label:false, placeholder:"Password",  input_html: {class: 'form-control'},
          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          %br
          = f.input :password_confirmation, label:false, placeholder: "Your password once again",
          required: true,  input_html: {class: 'form-control'}

        .form-actions
          = f.button :submit, "Sign up", class: "btn btn-sm btn-block btn-info"
      %hr
      = render "devise/shared/links"
