#comment
  %span.comment-author.text-info.text-bold= comment.user.user_name
  %span.comment-cntnt= comment.content
  - if comment.user == current_user
    = link_to post_comment_path(post, comment), method: :delete, remote: true do
      .glyphicon.glyphicon-remove.text-muted.pull-right
  %br