.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default#sign-panel
        .panel-body
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-inputs.form-group
              = f.input :email, required: false, label: false, placeholder: "E-mail address", autofocus: true,  input_html: {class: 'form-control'}
              %br
              = f.input :password, required: false, label: false, placeholder: "Password",  input_html: {class: 'form-control'}
              .pull-right
                = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
            .form-actions
              = f.button :submit, "Sign me in", class: "btn btn-sm btn-block btn-info"
          %hr
          = render "devise/shared/links"
