.row
  .col-md-offset-1.col-md-10
    = simple_form_for @post, html: { class: 'form form-horizontal', multipart: true } do |f|
      .form-group.text-center
        %h4 Upload an image:
        %br
        = f.input :image, label: false
      .form-group
        = f.input :caption, label: false, placeholder: 'Add your caption', input_html: {class:"form-control"}
      .form-group.pull-right
        = f.button :submit, class: "btn btn-sm btn-success"
        = link_to "Cancel", root_path, class: "btn btn-sm btn-danger"