.panel.panel-default
  .panel-heading
    %h5.pull-right.text-muted.small= time_ago_in_words(post.created_at)
    =image_tag "avatar.png", { class: "img img-responsive img-circle pull-left" }
    %h5.text-info= "<strong>".html_safe + post.user.user_name + "</strong>".html_safe
  .panel-body
    =link_to (image_tag post.image.url(:medium), {:class => "img img-responsive"}), post_path(post)
  .panel-footer
    %span.post-caption
      .text-info.caption-author.pull-left= post.user.user_name
      =post.caption
    %br
      
    .comments{id: "comments_#{post.id}"}
      - if post.comments
        = render post.comments, post: post

    %hr
    .row#add-comment-div
      .col-xs-1
        %span.glyphicon.glyphicon-heart-empty
      .col-xs-11
        = form_for([post, post.comments.build], remote: true) do |f|
          = f.text_field :content, placeholder: 'Add a comment...',
          class: "form-control add-comment-input", id: "comment_content_#{post.id}"