.row
  .col-md-4.col-md-offset-4
    .well.well-sm
      = image_tag @post.image.url(:medium), {:class => "img img-responsive"}
        
.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      = render "form"
    %p.text-right
      %span= link_to "Delete Post", post_path(@post), :class => "btn btn-xs btn-warning", method: :delete