.visible-md.visible-lg
  /%h3.text-danger What's new?
  /%h4 Take a look at those pictures
  /%hr
  
- @posts.each do |post|
  .row  
    .col-md-6.col-md-offset-3
      = render "post", post: post
    
.row
  .col-md-12.text-center
    = paginate @posts 