.row  
  .col-md-6.col-md-offset-3
    = render "post", post: @post
    %p.text-right
      - if @post.user.id == current_user.id
        %span= link_to "Edit this post", edit_post_path(@post), {:class => "btn btn-xs btn-warning"}
      %span= link_to "Go back to all posts", posts_path, {:class => "btn btn-xs btn-default"}  