@import "bootstrap-sprockets";
@import "bootswatch/simplex/variables";
@import "bootstrap";

body { 
  padding-top: 40px;
  background-color: #F8F8F8;
  
  a { 
    color: #3399cc;
    text-decoration: none;
  }
  
  .container { padding-top: 20px; }
  .text-bold { font-weight: bold; }
  .glyphicon { padding: 0 5px 0 5px; }
  .navbar { 
    padding: 0 15px 0 15px; margin-bottom: 0px;
  }
}

/* sign in/up forms */
.panel#sign-panel {
  padding: 50px;
  background-position: center;
  background-attachment: fixed;
  background-image: image-url("bg.jpg");
}

/* posts */
.panel {
  .img-circle { 
    margin-right: 5px;
    border: 1px solid #F5F5F5;
  }
  .post-caption { font-size: 1.05em; }
  .panel-heading, .panel-footer { background-color: #FEFEFE; }
  .panel-body {
    padding: 0;
    img { margin: auto; }
  }
  
  .panel-footer {
    input { 
      border: 1px solid transparent;
      box-shadow: inset 1px 0px 5px rgba(0, 0, 0, 0.075);
    }
    .caption-author { font-weight: bold; padding-right: 5px; }
  }
}

/* comments */
.comments { 
  margin-top: 10px;
  #comment {
    line-height: 1.7em;
    .comment-cntnt { text-align: justify; }
    .comment-author { font-weight: bold; padding-right: 5px; }
  }
}

#add-comment-div {
  height: 40px;
  text-align: center;
  .add-comment-input { margin-left: 0; }
  .glyphicon-heart-empty {
    line-height: 30px;
    font-size: 2.0em;
    margin-right: 0px;
  }
}

.form-control:focus {
  border-color: #3399cc; /*#b94a48*/
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 4px rgba(100, 100, 100, 0.5);
}

@import "bootswatch/simplex/bootswatch";