%nav.navbar.navbar-default.navbar-fixed-top
  .navbar-container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        =link_to root_path do
          %span.glyphicon.glyphicon-camera
          Instagrails
    .collapse.navbar-collapse#bs-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "About", root_path
        - if user_signed_in?
          %li= link_to "New Post", new_post_path
          %li
            = link_to destroy_user_session_path, method: :delete do
              = "Logout (<span class='text-info'>".html_safe + current_user.user_name + "</span>)".html_safe
        - else
          %li= link_to "Login", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path