!!!
%html
  %head
    %title Instagrails
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    /.container
    .container
      .row 
        - flash.each do |name, msg|
          = content_tag :div, msg, class: [:badge, alert_for(name)]
      = yield
      .row
        %h5.text-center
          %span.text-danger.text-bold.label.label-info= "Instagrails " + Time.now.year.to_s